.bg-color {
    background-color: black;
    color: white;
}

h1 {
    text-align: center;
}

.return {
    display: block;
    width: fit-content;
    margin: 20px auto;
    
    background-color: white;
    color: black;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
}

.return:hover {
    background-color: #ddd;
}